In [2]:
pip install ipython-sql
pip install psycopg2-binary sqlalchemy
pip install pandas

import pandas as pd
import sqlite3

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.36-cp39-cp39-win_amd64.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 33.0 MB/s eta 0:00:00
Requirement already satisfied: ipython in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: ipython-genutils in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable
  Downloading prettytable-3.12.0-py3-none-any.whl (31 kB)
Collecting sqlparse
  Downloading sqlparse-0.5.2-py3-none-any.whl (44 kB)
     ---------------------------------------- 44.4/44.4 kB ? eta 0:00:00
Requirement already satisfied: six in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Collecting typing-extensions>=4.6.0
  Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Requirement already satisfied: decorator in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: colorama in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: pygments in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: jedi>=0.16 in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\asus\documents\data_analysis\python\python_data_scienece_25hrs\anaconda\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Installing collected packages: typing-extensions, sqlparse, prettytable, sqlalchemy, ipython-sql
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.3.0
    Uninstalling typing_extensions-4.3.0:
      Successfully uninstalled typing_extensions-4.3.0
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.12.0 sqlalchemy-2.0.36 sqlparse-0.5.2 typing-extensions-4.12.2
Note: you may need to restart the kernel to use updated packages.

In [18]:
# Load the CSV file into a Pandas DataFrame
file_name = 'store_product_dataset.csv'  # Replace with your CSV file name
df = pd.read_csv(file_name)

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Load the DataFrame into the SQLite database
df.to_sql('store_product_dataset', conn, index=False, if_exists='replace')

In [25]:
# Query the table using SQL
query = """

SELECT product_type, MIN(price) AS min_price, MAX(price) AS max_price
FROM store_product_dataset
GROUP BY product_type

"""

result = pd.read_sql(query, conn)
result

  product_type  min_price  max_price
0       Bakery       6.26      11.88
1        Dairy       8.33      13.97
2         Meat      11.48      16.98
3      Produce       3.46       8.78
4       Snacks       5.20      10.72